body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    /* ... Other styles for the container ... */

    /* Add the following flexbox properties to position the filterOptions div */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style the barChart canvas to ensure it fits within its container */
#barChart {
    /* ... Other styles for the barChart canvas ... */
}

/* Style the apiResult pre element (if needed) */
#apiResult {
    /* ... Other styles for the apiResult container ... */
}

/* Style the filterOptions div */
#filterOptions {
    /* Add any necessary styling for the filterOptions div */
    margin-top: 20px; /* Add some top margin to separate it from other elements */
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    text-align: center;
}

/* Optional: Add styles for responsiveness */
@media (max-width: 600px) {
    table {
        font-size: 14px;
    }
}
